/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

html, body, section, article,
h1, h2, p, strong, em, a, button,
input {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background: white;
}

#root {
    height: 100%;
}

.app-container {
    height: 100%;
}

li {
    list-style: none;
}

header {
    max-width: 100%;
    height: 100%;
    background-image: asset-data-url("treebnb-homepage-image-1600-cropped-compressed.jpg");
    z-index: 1;
    overflow: scroll;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 25px;
    height: 50px;
}

.nav-links {
    display: flex;
    width: 100%;
}

.nav-links li {
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}

/* .treebnb-symbol {
    
} */

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.modal-content {
    position: absolute;
    background-color: white;
    width: 540px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    box-sizing: border-box;
}

.session-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.close-x {
    height: 40px;
    width: 40px;
    border: 1px solid lightgray;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: darkgray;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    cursor: pointer;
}

.session-form-or-container hr {
    border: none;
    border-top: 1px solid lightgray;
    overflow: visible;
    text-align: center;
    height: 0px;
    margin: 10px 0;
}

.session-form-or-container hr:after {
    content: 'or';
    padding: 0 15px;
    position: relative;
    top: -11px;
    background: #fff;
    color: gray;
}

.session-form-input, .session-form-submit-btn, .session-form-demo-btn {
    width: 100%;
    height: 50px;
    margin-top: 15px;
}

.email-input, .password-input {
    display: flex;
    justify-content: space-between;
}

.fa-envelope, .fa-lock {
    margin-right: 15px;
    margin-top: 17px;
}

.fa-envelope:before, .fa-lock:before {
    color: darkgray;
}

.session-form-demo-btn {
    border: 2px solid #767676;
    color: #767676;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.session-form-input {
    border: 1px solid lightgray;
    padding-left: 10px;
}

.session-form-submit-btn {
    background-color: #FF5A5F;
    text-align: center;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
}

.session-message {
    font-size: 14px;
}

.blue-link-text {
    color: #008489;
    cursor: pointer;
    margin-left: 7px;
}

.blue-link-text:hover {
    text-decoration: underline;
}

.error-message {
    color: #E57751;
    margin-top: 7px;
}
