/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

html, body, section, article,
h1, h2, p, strong, em, a, button,
input {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background: white;
}

#root {
    height: 100%;
}

.app-container {
    height: 100%;
}

li {
    list-style: none;
}

input {
    border-radius: 4px;
}

// header {
//     max-width: 100%;
//     height: 100%;
//     background-image: asset-data-url("treebnb-homepage-image.jpg");
//     z-index: 1;
//     overflow: scroll;
//     background-size: cover;
//     position: relative;
// }


// Navbar

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background: white;
    border-bottom: 1px solid black;
    padding-top: 12px;
    z-index: 10;
}

.treebnb-logo {
    color: #484848;
    display: flex;
    font-size: 24px;
    margin-left: 102px;
    margin-top: 8px;
}

#treebnb-word {
    font-weight: 700;
    margin-left: 10px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav-links li {
    color: #525252;
    margin-left: 30px;
    font-size: 13px;
    cursor: pointer;
    // height: 40px;
    font-weight: 600;
}

.signup-li:hover, .login-li:hover {
    height: 40px;
    border-bottom: 3px solid #484848;
}
// .nav-links li:hover {
//     height: 40px;
//     border-bottom: 3px solid black;
// }

.nav-links li:last-child {
    margin-right: 20px;
}

#profile-image-circle, #profile-image-circle:hover {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: #F2F2F2;
    border: 2px solid #ebebeb;
    align-self: center;
    margin-top: -11px;
}


// Profile dropdown (on homepage)

#profile-image-circle:focus {
    outline: 0;
}

.profile-dropdown-container {
    width: 280px;
    height: auto;
    background-color: white;
    position: absolute;
    z-index: 1000;
    box-sizing: border-box;
    margin-left: -230px;
    margin-top: 49px;
    box-shadow: -2px 3px 5px 0px darkgrey;
}

.profile-dropdown-container ul {
    padding: 0 0 0 15px;
}

.profile-dropdown-container ul li {
    color: #828282;
    padding: 18px 0;
    border-bottom: 1px solid #ededed;
    margin-right: 15px;
    margin-left: 3px;
}

.profile-dropdown-container ul li:hover {
    border-bottom: 1px solid #424242;
}


// Modal

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.modal-content {
    position: absolute;
    background-color: white;
    width: 540px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px 35px;
    box-sizing: border-box;
}


// Session form

.session-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.close-x {
    height: 40px;
    width: 40px;
    box-shadow: 0 0 5px 3px #E2E2E2;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: darkgray;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    cursor: pointer;
}

.session-form-or-container hr {
    border: none;
    border-top: 1px solid lightgray;
    overflow: visible;
    text-align: center;
    height: 0px;
    margin: 10px 0;
}

.session-form-or-container hr:after {
    content: 'or';
    padding: 0 15px;
    position: relative;
    top: -11px;
    background: #fff;
    color: gray;
}

.session-form-input, .session-form-submit-btn, .session-form-demo-btn {
    width: 100%;
    height: 50px;
    margin-top: 15px;
}


.email-input, .password-input {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    width: 97.5%;
}

.session-form-input:focus {
    border: 1px solid #008489;
}

#input-outline-blue {
    border: 1px solid #008489;
}

.fa-envelope, .fa-lock {
    margin-right: 15px;
    margin-top: 17px;
}

.fa-envelope:before, .fa-lock:before {
    color: darkgray;
}

.session-form-demo-btn {
    color: white;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
    background: #008489;
    font-weight: 500;
}

.session-form-input {
    border: 1px solid lightgray;
    padding-left: 10px;
}

.session-form-input input {
    width: 100%;
}

.session-form-submit-btn {
    background-color: #FF5A5F;
    text-align: center;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: 500;
}

.session-message {
    font-size: 14px;
}

.blue-link-text {
    color: #008489;
    cursor: pointer;
    margin-left: 5px;
    font-weight: 600;
}

.blue-link-text:hover {
    text-decoration: underline;
}

.error-message {
    color: #E57751;
    margin-top: 7px;
}


// Search Box + splash image (on homepage)

.splash-image-container {
    max-width: 100%;
    height: 1000px;
    background-image: asset-data-url("treebnb-homepage-image.jpg");
    background-size: cover;
    position: relative;
}

.search-box-container {
    width: 440px;
    height: 480px;
    background-color: white;
    margin-top: 100px;
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
    padding: 35px;
    border-radius: 4px;
    z-index: 10;
}

.search-box-header h1 {
    font-size: 24px;
    font-weight: bold;
    color: #484848;
    margin-bottom: 15px;
}

.search-box-label {
    font-size: 12px;
    color: #484848;
    font-weight: 600;
}

.search-box-input {
    width: 100%;
    border: 1px solid lightgray;
    height: 50px;
    color: #484848;
    margin-bottom: 13px;
    margin-top: 8px;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 4px;
}

.search-box-input:focus {
    border: 1px solid #008489;
}

.check_-labels-container {
    display: flex;
    margin-bottom: 9px;
    margin-top: 11px;
}

.checkout-label {
    margin-left: 129px;
}

.check_-inputs-container {
    display: flex;
    width: 370px;
}

.check_-input {
    width: 50%;
}

.checkin-input {
    border-radius: 4px 0 0 4px;
}

.checkout-input {
    border-radius: 0 4px 4px 0;
    border-left: none;
}

.search-box-submit-btn {
    background-color: #FF5A5F;
    color: white;
    text-align: center;
    height: 50px;
    font-weight: 600;
    width: 100px;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 9px;
    margin-left: 271px;
    cursor: pointer;
}

// Search box // Guests dropdown

.search-box-dropdown-container {
    width: 370px;
    height: auto;
    background-color: white;
    position: absolute;
    padding: 5px 0 25px 25px;
    box-sizing: border-box;
    color: #484848;
    box-shadow: rgba(26, 26, 29, 0.3) 0px 15px 46px -10px;
    border-radius: 3px;
    margin-top: -13px;
}

.search-box-dropdown-container ul {
    padding: 0;
}

.search-box-dropdown-container ul li {
    display: flex;
    justify-content: space-between;
}

.search-box-dropdown-container ul li > span {
    font-weight: 600;
}

// .search-box-counter-container > div {
//     line-height: 64px;
// }

.search-box-counter-container {
    display: flex;
    font-weight: bold;
}

.search-box-minus-circle, .search-box-plus-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #008489;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    color: #008489;
    margin: 15px 20px 15px 25px;
}

.search-box-plus-circle {
    border: 1px solid #008489;
    color: #008489;
    cursor: pointer;
}

.search-box-minus-circle {
    border: 1px solid #008489;
    color: #008489;
    opacity: 50%;
}

.search-box-dropdown-counter-num {
    width: 16px;
    line-height: 64px;
    color: #484848;
}

.search-box-dropdown-label {
    display: flex;
    flex-direction: column;
    margin-top: 11px;
}

// .search-box-dropdown-label div {
//     display: block;
// }

.search-box-dropdown-label div:first-child {
    font-size: 15px;
    font-weight: 600;
}

.search-box-dropdown-label div:last-child {
    font-size: 13px;
    margin-top: 6px;
}