// User bookings idx

.user-bookings-container {
    padding: 65px;
}

.user-bookings-header {
    font-size: 32px;
    font-weight: 600;
    color: #484848;
}

.no-upcoming-plans-message {
    margin-top: 10px;
    font-size: 13px;
}

.upcoming-plans-drawing {
    display: block;
    opacity: 85%;
    margin: auto;
}

.explore-treebnb-btn {
    height: 40px;
    width: 155px;
    margin-top: 15px;
    border: 2px solid #008489;
    border-radius: 5px;
    color: #008489;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

#user-bookings-ul {
    padding: 0;
}

.user-bookings-li {
    padding: 8px 16px 8px 16px;
    box-sizing: border-box;
    width: 21vw;
    min-width: 250px;    
}

.user-bookings-li:first-child {
    padding: 8px 16px 8px 0;
}

.booking-idx-item-month-year-container {
    display: flex;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 9px;
}

.booking-idx-item-month {
    margin-left: 2px;
}

.booking-idx-item-location {
    margin-top: 5px;
    font-size: 13px;
    font-weight: 500;
}


