// User bookings idx

.inner-user-bookings-container {
    padding: 45px 65px 65px 65px;
}

.user-bookings-header {
    font-size: 32px;
    font-weight: 600;
    color: #484848;
}

.no-upcoming-plans-message {
    margin-top: 10px;
    font-size: 13px;
}

.upcoming-plans-drawing {
    display: block;
    opacity: 85%;
    margin: auto;
}

.explore-treebnb-btn {
    height: 40px;
    width: 155px;
    margin-top: 15px;
    border: 2px solid #008489;
    border-radius: 5px;
    color: #008489;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

#user-bookings-ul {
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    // padding: 0 20px;
    padding: 0;
    margin: 15px auto;
}

.user-bookings-li {
    padding: 8px 16px 8px 16px;
    box-sizing: border-box;
    width: 21vw;
    min-width: 250px;    
}

.user-bookings-li:first-child {
    // padding: 8px 16px 8px 0;
    margin-left: -15px;
}

.booking-idx-item-month-year-container {
    display: flex;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 9px;
}

.booking-idx-item-month {
    margin-left: 2px;
}

.booking-idx-item-location {
    margin-top: 5px;
    font-size: 13px;
    font-weight: 500;
}

.booking-idx-item-cancel-btn {
    height: 40px;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    line-height: 37px;
    background-color: #FF5A5F;
    text-align: center;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
}

.reservation-successful-msg-visible {
    width: 100%;
    text-align: center;
    height: 50px;
    background-color: #2C979C;
    line-height: 50px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    transition: 3s;
    opacity: 90%;
    visibility: visible;
}

.reservation-successful-msg-hidden {
    // visibility: hidden;
    opacity: 0;
}

.empty-success-msg-div {
    width: 100%;
    height: 50px;
}


// User bookings page // Cancel modal

.cancel-booking-form-btns-container {
    display: flex;
}

.cancel-booking-form-header {
    margin-bottom: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 10px;
}

.cancel-booking-form-no-btn, .cancel-booking-form-yes-btn {
    width: 50%;
    height: 50px;
}

.cancel-booking-form-no-btn {
    margin-top: 15px;
    border: 2px solid #008489;
    border-radius: 5px;
    color: #008489;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    line-height: 48px;
    // The turqoise and white text color scheme?
}

.cancel-booking-form-yes-btn {
    margin-top: 15px;
    background-color: #FF5A5F;
    text-align: center;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: 500;
    line-height: 48px;
    border-radius: 5px;
    border: 1px solid #FF5A5F;
    font-size: 16px;
    margin-left: 25px;
    // The red and white color scheme?
}
