// Index page

.treehouses-idx-container {
    padding: 0 80px;
}

.treehouses-idx-header {
    font-size: 24px;
    font-weight: bold;
    color: #484848;
    margin-top: 45px;
    margin-bottom: 7px;
}

.treehouses-idx-subhead {
    color: #484848;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
}

.treehouses-ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    // padding: 0 20px;
    padding: 0;
    margin: 15px auto;
    justify-content: center;
}

.treehouse-li {
    padding: 8px 16px 8px 0;
    box-sizing: border-box;
    width: 25%;
    min-width: 250px;
}

// .treehouse-idx-photo-standin {
//     background-color: #484848;
//     color: white;
//     text-align: center;
//     width: 100%;
//     height: 17vh;
//     min-height: 175px;
//     border-radius: 2px;
// }

.treehouse-idx-photo {
    width: 100%;
    height: 235px;
    min-height: 175px;
    border-radius: 2px;
}

.treehouse-idx-photo-child {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.treehouse-idx-address {
    color: gray;
    margin-top: 12px;
    font-size: 14px;
}

.treehouse-idx-name {
    text-transform: uppercase;
    margin-top: 6px;
}

.treehouse-idx-price-num {
    font-weight: 600;
    margin-top: 5px;
}

.treehouse-idx-price {
    margin-top: 5px;
    margin-bottom: 25px;
}



// Show page // Top photos

.treehouse-photos-container {
    height: 35vw;
    max-height: 600px;
    width: 100%;
    min-width: 1115px;
    color: white;
    display: flex;
}

// .treehouse-photos-container div:hover {
//     filter: brightness(.75);
// }

.treehouse-photo-1 {
    width: 50%;
    height: 100%;
    overflow: hidden;
    // background-size: cover;
    // background-position: center;
}

.treehouse-right-side-photos-container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.treehouse-photo-parent {
    width: 50%;
    height: 50%;
    overflow: hidden;
}
// .treehouse-photo-parent {
//     width: 25%;
//     height: 50%;
//     overflow: hidden;
// }

.treehouse-photo-child {
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: all .5s;
    background-position: center;
    border: 1px solid #484848;
}

.treehouse-photo-child:hover {
    transform: scale(1.1);
    overflow: hidden;
}

.treehouse-photo-2 {
    background-image: asset-data-url("small-photo-2.jpeg");
}

.treehouse-photo-3 {
    background-image: asset-data-url("small-photo-3.jpg");
}

.treehouse-photo-4 {
    background-image: asset-data-url("small-photo-5.jpg");
}

.treehouse-photo-5 {
    background-image: asset-data-url("small-photo-4.jpg");
}


// Show page // Below the top photos

.treehouse-show-container {
    display: grid;
    grid-template-columns: 1fr 734px 375px 1fr;
    margin: auto;
    margin-top: 25px;
    color: #484848;
}


// Show page // Left-hand column

.treehouse-show-left-side {
    grid-column: 2 / 3;
    height: auto;
    margin-right: 60px;
    padding: 0 0 100px 25px;
}

.treehouse-show-name {
    // text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
}

.treehouse-show-hr-below-address {
    border-top: 1px solid rgb(235, 235, 235);
    height: 0px;
    border-left: none;
    margin: 30px 0 40px 0;
}

// .treehouse-calendar-picker-container div:first-child {
//     margin: 30px 0;
// }

.treehouse-availability-div {
    margin: 30px 0;
    font-size: 16px;
    font-weight: 600;
}


// Show page // Booking box

.treehouse-booking-box {
    grid-column: 3 / 4;
    height: 335px;
    position: sticky;
    top: 30px;
    border: 1px solid lightgray;
    padding: 25px;
}

.treehouse-show-price-container {
    display: flex;
}

.treehouse-show-price-container div:first-child {
    font-weight: bold;
    font-size: 24px;
    color: #484848;
}

.treehouse-show-price-container div:last-child, .treehouse-booking-box-bottom-text {
    font-weight: 600;
    font-size: 11px;
    color: #484848;
}

.treehouse-show-price-container div:last-child {
    align-self: flex-end;
    margin-bottom: 5px;
    margin-left: 3px;
}

.treehouse-booking-box-guests-input {
    width: 100%;
    border: 1px solid lightgray;
    height: 50px;
    color: lightgray;
    margin-bottom: 13px;
    margin-top: 8px;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 4px;
}

.guests-input {
    width: 100%;
    cursor: pointer;
}

#treehouse-show-guests-input-container {
    display: flex;
    justify-content: space-between;
    width: 97.5%;
    cursor: pointer;
}

.fa-chevron-down, .fa-chevron-up {
    margin-right: 15px;
    margin-top: 17px;
    font-size: 19px;
    color: #484848;
    cursor: pointer;
}

.treehouse-booking-box-reserve-btn {
    background-color: #FF5A5F;
    color: white;
    text-align: center;
    height: 50px;
    font-weight: 600;
    width: 100%;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 9px;
    cursor: pointer;
}

.treehouse-booking-box-bottom-text {
    margin-top: 13px;
    text-align: center;
}

.treehouse-booking-box-hr {
    border-top: 1px solid rgb(235, 235, 235);
    height: 0px;
    border-left: none;
    margin: 25px 0 15px 0;
}


// // Show page // Booking box // Guests dropdown

#treehouse-booking-box-dropdown-container {
    width: 323px;
    margin-top: -18px;
    box-shadow: 0px 3px 12px -4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 2px solid #008489;
}

#treehouse-show-guests-input-container:focus {
    border: 1px solid lightgray;
}

// .treehouse-guests-bottom-highlight {
//     width: 100px;
//     height: 2px;
//     border-bottom: 2px solid #008489;
// }